* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
}


.container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.left-panel {
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 40vw;

    background: #ffffff;

    display: flex;              
    align-items: center;
    justify-content: center;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
    padding: 4vw;
    flex-wrap: wrap;
}
#logo {
    height: clamp(40px, 22vh, 120px);         
    width: auto;
    object-fit: contain;
    filter: invert(100%); 
}
.left-panel h1 {
    font-size: clamp(1.5rem, 5rem, 5rem);
    letter-spacing: 0.02em; 
    color: #000;
}

.right-panel {
    flex-basis: 60%;
    flex-shrink: 0;
    flex-grow: 0;

    background: #dcdcdc;

    display: flex;
    flex-direction: column;
}
.subheading {
    flex: 0 0 32%;
    padding-left: 8vw;
    padding-top: 18vh;
}
.subheading p {
    color: #1E1E1E;
    font-size: clamp(.5rem, 1.8rem, 1.8rem);
}
.info-container {
    flex: 0 0 36%;

    background-color: #F6F6F6;

    display: flex;
    align-items: center;
}
.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;       
    column-gap: 4rem;
    row-gap: 1.5rem;  
    
    
    width: 42vw;

    padding-left: 8vw;
}
.info-grid input {
    padding: 0.9rem 1.1rem;
    border-radius: 6px;
    border: 1px solid #d0d0d0; 
    font-size: 1rem;
}
.login {
    flex: 0 0 32%;
}

.login {
    padding-left: 8vw;
    padding-top: 4vh;
}
#submit-btn {
    height: 6vh;
    width: 11vw;
    border: 0;
    border-radius: 6px;
    font-size: 2.4vh;
}
.login-container p {
    padding-top: 1vh;
}